html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}


/*Typografie*/

.ueberschrift {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: rgb(233, 233, 233);
    width: 100%;
}

.textkoerper {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 35px;
    font-size: 20px;
    color: rgb(233, 233, 233);
}

.unterueberschrift {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: white;
    margin-left: 5px;
    margin-top: 40px;
    font-size: 20px;
}


/*Header*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);
}

.headerInhaltContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logoContainer {
    display: flex;
    justify-content: flex-startS;
    width: 20%;
}

.logo {
    width: 150px;
}

.menueContainer {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.menue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.menuetext {
    font-size: 16px;
    width: 100%;
    color: #6d6d6d;
    padding: 25px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s ease-out;
}

.menuepunkt:hover a {
    color: black;
    transition: 0.5s ease all;
}

.menuepunktIcon img {
    display: none;
}


/*Footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(32, 32, 32);
    margin-top: 50px;
}

footer .textkoerper {
    font-size: 16px;
}


/*Buttons*/

.buttonContainer {
    display: flex;
    width: 100%;
}

.button,
.buttonRezepte,
#buttonUpdate,
#button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    transition: 0.3s ease-out;
}

.button:hover {
    background-color: rgb(41, 41, 41);
    transition: 0.5s ease all;
}


/*Style der div-Container für den Content*/

.ebenenContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.ebeneHeaderStartseite,
.ebeneRezepteErstellen,
.ebeneHeaderFavoriten {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
    background-color: #eca900;
}

.ebeneAlleRezepte,
.ebeneMeineRezepte,
#ebeneRezeptBearbeiten {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


/*Style der Rezepte*/

#allRecipes,
#myRecipes,
#favoriteRecipes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.currentRecipeClass {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 40%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: rgb(75, 75, 75);
    transition: 0.3s ease-out;
}

.currentRecipeClass:hover {
    background-color: rgba(255, 255, 255);
    transform: scale(1.1);
    transition: 0.5s ease all;
    cursor: pointer;
}


/*Startseite*/

.ebeneHeaderStartseite,
.ebeneHeaderFavoriten {
    flex-direction: row-reverse;
}

.headerBildStartseite,
.headerBildFavoriten {
    width: 50%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.textContainer .textkoerper {
    margin-top: -20px;
}

.button {
    margin-top: 20px;
}


/*Startseite - Ansicht aller Rezepte*/

.ebeneAlleRezepte {
    padding-bottom: 50px;
    background-color: rgba(251, 238, 206, 0.945)
}

#rezeptuebersicht {
    color: rgb(48, 48, 48);
}


/*Meine Rezepte - Erstellen meiner Rezepte*/

.ebeneRezepteErstellen {
    flex-direction: row;
    justify-content: center;
    padding: 0px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    background-image: url(Bilder/rezeptbild-meine-rezepte.png);
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titleContainer .buttonContainer {
    margin-top: -20px;
}

.formularConainter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 10px;
}

#rezeptFormular {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-left: 50px;
}

#zutatenliste {
    width: 40%;
}

#zubereitung {
    width: 60%;
    padding-left: 20px;
}

input {
    width: 150px;
    border: none;
    padding: 15px 10px 0px 10px;
    border-bottom: 2px solid white;
    outline: none;
    background: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 800;
    color: white;
    font-size: 16px;
}

input:active,
input:focus {
    border-color: transparent;
    border-bottom: 2px solid white;
}

#zubereitungsanweisung,
#zubereitungBearbeiten textarea {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 800;
    color: rgba(46, 46, 46, 0.884);
    font-size: 16px;
    line-height: 25px;
}

#zubereitungsanweisung {
    margin-top: 25px;
    width: 75%;
    height: 400px;
}


/*Meine Rezepte - Anzeigen meiner Rezepte*/

.ebeneMeineRezepte {
    background-color: rgb(131, 148, 94);
}

.ebeneMeineRezepte .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.buttonRezepte {
    margin-top: 10px;
    width: 100px;
}


/*Meine Rezepte - Bearbeiten meiner Rezepte*/

#ebeneRezeptBearbeiten {
    margin-top: -1px;
    background-color: rgb(131, 148, 94);
}

#ebeneRezeptBearbeitenFormular {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

#zubereitungBearbeiten {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-right: 15px;
}

#zubereitungBearbeiten textarea {
    display: flex;
    height: 150px;
    width: 85%;
}

#zutatenlisteBearbeiten {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50%;
}

#zutatenlisteEdit1,
#zutatenlisteEdit2 {
    display: flex;
    flex-direction: column;
    margin: 40px;
    margin-left: 20px;
}

#buttonBearbeitenContainer {
    display: flex;
    justify-content: flex-end;
    width: 92%;
    margin-top: 0px;
    margin-bottom: 30px;
}


/*Meine Favoriten*/

.ebeneHeaderFavoriten {
    flex-direction: row-reverse;
}

@media screen and (max-width: 1300px) {
    /*Globale Styles*/
    .ueberschrift {
        font-size: 40px;
        width: 100%;
    }
    .textkoerper {
        line-height: 30px;
    }
    .headerInhaltContainer {
        width: 90%;
    }
    .menuetext {
        padding: 25px;
    }
    /*Container Styles*/
    .ebeneHeaderStartseite,
    .ebeneAlleRezepte,
    .ebeneRezepteErstellen,
    .ebeneMeineRezepte,
    #ebeneRezeptBearbeiten,
    .ebeneHeaderFavoriten {
        width: 90%;
    }
    /*Startseite*/
    .textContainer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .textContainer .ueberschrift {
        margin-top: 0px;
    }
    .textContainer .textkoerper {
        margin-top: -10px;
    }
    /*Meine Rezepte*/
    input {
        width: 120px;
    }
    .currentRecipeClass {
        line-height: 30px;
    }
}

@media screen and (max-width: 1115px) {
    .currentRecipeClass {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    /*Globale Styles*/
    .ueberschrift {
        font-size: 30px;
    }
    .textkoerper {
        font-size: 18px;
        line-height: 25px;
    }
    .headerInhaltContainer {
        width: 95%;
    }
    /*Container Styles*/
    .ebeneHeaderStartseite,
    .ebeneRezepteErstellen,
    .ebeneMeineRezepte,
    .ebeneAlleRezepte,
    #ebeneRezeptBearbeiten,
    .ebeneHeaderFavoriten {
        width: 95%;
    }
    /*Startseite*/
    .textContainer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /*Meine Rezepte*/
    #rezeptFormular {
        flex-direction: column;
        padding-left: 0px;
    }
    #zutatenliste {
        width: 100%;
    }
    #zubereitung {
        width: 100%;
        padding-left: 0px;
    }
    .zutatenlisteInput {
        display: flex;
        flex-direction: row;
    }
    #zutatenliste1 {
        margin-right: 40px;
    }
    input {
        width: 85%;
    }
    #zubereitungsanweisung {
        height: 150px;
        width: 90%;
    }
    .currentRecipeClass {
        font-size: 18px;
        line-height: 25px;
    }
    #ebeneRezeptBearbeitenFormular {
        flex-direction: column;
    }
    #zubereitungBearbeiten {
        width: 90%;
        padding-right: 0px;
    }
    #zubereitungBearbeiten textarea {
        height: 200px;
        width: 100%;
    }
    #zutatenlisteBearbeiten {
        width: 100%;
    }
    #buttonBearbeitenContainer {
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 720px) {
    /*Typografie*/
    .menuetext {
        display: none;
    }
    .menuepunktIcon img {
        display: block;
        width: 18px;
        padding: 12px;
    }
    .ueberschrift {
        font-size: 25px;
    }
    .textkoerper {
        font-size: 14px;
        line-height: 20px;
    }
    .logo {
        width: 120px;
    }
    /*Globale Styles*/
    .button,
    .buttonRezepte,
    #buttonUpdate,
    #button {
        font-size: 12px;
        padding: 8px;
        margin-top: 10px;
    }
    /*Startseite*/
    .textContainer {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .textContainer .textkoerper {
        margin-top: -5px;
    }
    /*Meine Rezepte*/
    .ebeneRezepteErstellen {
        flex-direction: column;
    }
    .titleContainer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .titleContainer .buttonContainer {
        justify-content: center;
        margin-top: 10px;
    }
    .currentRecipeClass {
        font-size: 14px;
        line-height: 20px;
    }
    #zubereitungsanweisung,
    #zubereitungBearbeiten textarea {
        font-size: 14px;
    }
    input {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    /*Startseite*/
    .ebeneHeaderStartseite,
    .ebeneHeaderFavoriten {
        flex-direction: column-reverse;
    }
    .headerBildStartseite,
    .headerBildFavoriten {
        width: 100%;
    }
    .textContainer {
        width: 90%;
    }
    .textContainer .textkoerper {
        display: block;
    }
    /*Meine Rezepte*/
    #zubereitungsanweisung {
        height: 200px;
        width: 85%;
    }
    .ueberschriftContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    /*Globale Styles*/
    .menuepunktIcon img {
        width: 15px;
        padding: 8px;
    }
    .logo {
        width: 100px;
    }
    /*Typografie*/
    .ueberschrift {
        font-size: 20px;
    }
    .unterueberschrift {
        font-size: 16px;
    }
    .textkoerper {
        font-size: 12px;
        line-height: 18px;
    }
    .currentRecipeClass {
        font-size: 12px;
        line-height: 18px;
    }
}